html, body {
    margin: 0;
    padding: 0;
    background: url('../img/demo-bg.jpg');
    
}

canvas {
    display: block;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.wrapper {
    width: auto;
    height: auto;
    margin: 0 auto;
    margin-top: 0.3em;
    
}

#instructions {
    font-family: sans-serif;
    color: #757575;
    font-size: 1.5em;

}

#score {
    float: right;
    color: white;
    
}
#live {
    float: right;
    color: white;
    
}

.key-score {
    width: 45%;
    color: white;
    float: right;
}

.key-live {
    width: 45%;
    color: white;
    float: left;
}
#game-over, #game-over-overlay {
    margin: auto;
    width: 50%;
    height: 80%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    display: none;
}

#game-over-overlay {
    background-color: black;
    opacity: .5;
}

#game-over {
    height: 200px;
    text-align: center;
    color: white;
}

#game-over h1 {
    font-size: 3em;
    font-family: sans-serif;
}


#start:hover{
    background-color: rgba(0,0,0,0.3);
}
#results:hover{
    background-color: rgba(0,0,0,0.3);
}
#close-modal:hover{
    background-color: rgba(0,0,0,0.3);
}
#start:focus{
    background-color: rgba(0,0,0,0.3);
        outline:none;
}
#results:focus{
    background-color: rgba(0,0,0,0.3);
    outline:none;
}
#close-modal:focus{
    background-color: rgba(0,0,0,0.3);
    outline:none;
}
#start,#results{
    font-size: 1.5em;
    color: white;
    width: 300px;
    height: 150px;
    background: none;
    border: none;

    
}
#button-block{
    z-index: 30;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 0; 
    left: 0; 
    bottom: 0; 
    right: 0;
    margin: auto;

}

#game-start{
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 100%;
}
#modal{
    display: none;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    height: 80%;
    background-color: rgba(0,0,0,0.5);
    z-index: 50;
    color: white;
}
#close-modal{
    font-size: 1em;
    color: white;
    width: 150px;
    height: 70px;
    background: none;
    border: none;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
}
#play-again {
    font-size: 1em;
    color: white;
    width: 150px;
    height: 50px;
    background: none;
    border: none;
    margin: auto;;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
}
#menu {
    font-size: 1em;
    color: white;
    width: 150px;
    height: 50px;
    background: none;
    border: none;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 60px;
}

#menu:hover{
    background-color: rgba(0,0,0,0.3);
}
#play-again:hover{
    background-color: rgba(0,0,0,0.3);
}
#menu:focus{
    background-color: rgba(0,0,0,0.3);
    outline:none;
}
#play-again:focus{
    background-color: rgba(0,0,0,0.3);
    outline:none;
}
td{
    width: 50%;
    color:white;
    padding-bottom: 20px;
    text-align: center;
}
h2{
    text-align: center;
}
