body{
	margin: 0;
	/*background:url('/ПРОЕКТ СТУДИИ ТАНЦЕВ/images/main-bg.jpg');
	height: 100vh;
	width: 100vw;
	background-origin: border-box;
    background-position: 50%;	
    background-repeat: no-repeat;
    background-size: cover;
	font-family: 'Proxima Nova Rg';
	display: flex;
	flex-direction: column;
	min-width: 320px;
	margin: 0 auto;*/

}
.wrapper{
	background:url('../images/main-bg.jpg');
	height: 100vh;
	width: 100%;
	background-origin: border-box;
    background-position: 50%;	
    background-repeat: no-repeat;
    background-size: cover;
	font-family: 'Proxima Nova Rg';
	display: flex;
	flex-direction: column;

	
}
.wrapper-timetable{
	background-color:black;
	height: 100vh;
	width: 100%;
	background-origin: border-box;
    background-position: 50%;	
    background-repeat: no-repeat;
    background-size: cover;
	font-family: 'Proxima Nova Rg';
	display: flex;
	flex-direction: column;

	
}
.wrapper-dance-way{
	background:white;
	position: relative;
	
	height: 100vh;
	width: 100%;
	background-origin: border-box;
    background-position: 50%;	
    background-repeat: no-repeat;
    background-size: cover;
	font-family: 'Proxima Nova Bl';
	display: flex;
	flex-direction: column;
	
	
}
.wrapper-about-us{
	background:url(../images/bg-about-us.jpg);
	position: relative;
	height: 100vh;
	width: 100%;
	background-origin: border-box;
    background-position: 50%;	
    background-repeat: no-repeat;
    background-size: cover;
	font-family: 'Proxima Nova Rg';
	display: flex;
	flex-direction: column;
}
.wrapper-galery{
	background:black;
	position: relative;
	height: 100vh;
	width: 100%;
	background-origin: border-box;
    background-position: 50%;	
    background-repeat: no-repeat;
    background-size: cover;
	font-family: 'Proxima Nova Rg';
	display: flex;
	flex-direction: column;
}


.header-top{
width: 100%;
/*height: 10vw;*/flex-grow: 0.1;
background-color: black;
z-index: 1;
}
.header-bottom{
width: 100%;
flex-grow: 0.1;

margin-top: 2%;
}

.black-nav{
	display: flex;
	justify-content: space-between;
	/*width: 100%;*/
	
	
	font-size: 90%;
	
}
/*.black-nav a{
	display: block;
	margin: 0 10%;
	text-align: center;
	text-decoration: none;
	color: white;
	line-height:3vw;
	font-size: 1vw;
	float: left;
}*/
.black-nav a:hover{
	color: #b51c26;
	transition: 0.5s;
}
.black-nav-contact{
width: 50%;
line-height: 4%;
}
.black-nav-login-table{
width: 20%;
}
.black-nav-adress{
	display: block;
	margin: 0 10%;
	text-align: center;
	text-decoration: none;
	color: white;
	line-height:3vw;
	font-size: 1vw;
	float: left;
}
.black-nav-phone{
	display: block;
	margin: 0 10%;
	text-align: center;
	text-decoration: none;
	color: white;
	line-height:3vw;
	font-size: 1vw;
	float: left;
}
.black-nav-timetable{
	display: block;
	margin: 0 10%;
	text-align: center;
	text-decoration: none;
	color: white;
	line-height:3vw;
	font-size: 1vw;
	float: left;
}
.black-nav-login{
	display: block;
	margin: 0 10%;
	text-align: center;
	text-decoration: none;
	color: white;
	line-height:3vw;
	font-size: 1vw;
	float: left;
}

footer{

	
	background-color: #b51c26;
	flex-grow: 0.5;
	/*position: fixed;
	bottom:0;*/
}
.footer-two{
	background-color: black;
	padding: 20px;
	color: grey;
	font-size: 70%;
	font-family: 'Proxima Nova Rg'
}
.footer-two p,ul{
	margin: 0;
	display: inline-block;

}
.footer-two ul{
	margin: 0;
	display: inline-block;
	float: right;

}
footer.footer-two li{
	width: 60px;
	display: inline-block;
}
.logo{
	display: flex;
	justify-content: space-between;

	/*width: 100%;
	height: 100%;*/
	
}
/*.logo a{
	display: block;
	
}*/
.logo-powered{
	/*width: 25%;*/
	flex-grow: 0.3;
z-index: 260;

}
.logo-powered-enter{
	/*width: 25%;*/
	flex-grow: 0.3;
z-index: 260;
width: 30%;
margin: 3% auto;

}
.logo-powered a{
	display: block;
	text-align: center;
	text-decoration: none;
	color: white;
	
}
.logo-powered-base{

	width: 40%;
	margin-left: 10%;
	margin-right: 5%;
	float: left;

	/*border-right:1px solid white;
	padding-right: 3%;*/
}
.logo-powered-by{
	border-left: 1px solid white;
	width: 40%;
	/*height: 100%;*/
	color: white;
	text-align: center;
	font-size: 1.0vw;
	float: left;
	/*position: relative;*/
}
a.logo-powered-adidas,a.logo-powered-reebok{
	display: inline-block;
	width: 25%;
	margin: 0 5% ;

}

.logo-login{
	/*width: 50%;*/
	flex-grow: 0.1;
	margin: 1% 0;
	}
.clearfix{
	clear: both;
}

.join{
	display: block;
	margin-right: 10%;
	border: 2px solid #b51c26;
	color: white;
	text-decoration: none;
	font-weight: bold;
	letter-spacing: 3px;
	font-size: 1.0vw;
	padding: 2% 4%;
	float: left;
	transition:  1.3s ;

}

/*.join:before {
 content:'';
 position: absolute;
 top: 0px;
 left: 0px;
 width: 0px;
 height: 42px;
 background-color:;

 transition: all 2s ease;
}
*/

.join:hover{
   box-shadow: inset 30em 0 #b51c26;
}
.promo-sign-up{
	display: block;
	margin-right: 7%;
	border: 3px solid #b51c26;
	color: white;
	text-decoration: none;
	font-weight: bold;
	letter-spacing: 3px;
	font-size: 1.3vw;
	transition:  1.3s ;
	float: right;
	padding: 1% 3%;
	position: absolute;
	bottom: 15%;
	right: 1%;

}
.promo-sign-up:hover{
   box-shadow: inset 30em 0 #b51c26;
}
.float{
	flex-grow: 10;


}
.content-way{
	flex-grow: 10;
	margin-left: 10%;
}
.promo{
	flex-grow:4;
	color: white;
	
}
.promo-dance{
	position: absolute;
	bottom: 10%;
	width: 60%;
	
}
.promo-about{
	position: absolute;
	bottom: 10%;
	width: 80%;
	
}
div.openButton {
  width: 6%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 330ms ease-out;
  float: left;
  margin: 2% 0;
   transition: 1s;
}

div.openButton.open {
  transform: rotate(-45deg);  
}

.line-menu {
  background-color: #fff;
  width: 100%;
  height: 20%;
}

.line-menu.half {
  width: 50%;
}

.line-menu.start {
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: right;
}

.open .line-menu.start {
  transform: rotate(-90deg) translateX(3px);
}

.line-menu.end {
  align-self: flex-end;
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: left;
}

.open .line-menu.end {
  transform: rotate(-90deg) translateX(-3px);
}

.promo-dance-title{
	margin: 0;
    font-weight: 900;
    font-size: 6vw;
    color: white;
    padding-left: 5%;
}
.promo-dance-text{
	margin-right:0;
	width: 100%;
    font-weight: 400;
    font-size: 1.4vw;
    color: white;
    padding-left: 5%;

}


.stickytop1 {

    position:fixed;
    top:0;
    z-index: 200;
    

    
}
.black-nav-logo-powered-base{
	display: none;
	width: 15%;
	height: 15%;
	text-decoration: none;
	color: white;
	margin: 3%;
	
	}
.black-nav-logo-login{
	display: none;



}
a.black-nav-logo-powered-base:hover{

	color: white;
}
.delete-block{
	display: none;
}

.black-nav-logo-login a:hover{
	color: white;
}
.add-block{
	display:block;
	float: left;
}
.add-block-join{
	display:block;
	float: left;
	width: 50%;
	height:100%;

}
.min-join{
	display: block;
	margin: 9% 1%;
    border: 1px solid #b51c26;
    color: white;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 1vw;
    padding: 1% 3%;
    float: left;
    transition: 1.3s;
}

.center-for-black-nav{

	line-height: 5vw;
	margin: 0 2%;
}

.max-width-login-table{
	width: 35%;
}



/*right-menu*/
.hidden-menu {
  display: block;
  position: fixed;
  list-style:none;
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  background:url('../images/menu-bg.png');
  background-size:cover;
  height: 100%;
  top: 0;
  right: -100%;
  transition: right .2s;
  z-index: 250;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}
.hidden-menu-ul{
	
	position: absolute;
	top: 20%;
	right: 5vw;
	left: 0;
	bottom: 0;
	list-style: none;

	
}
.hidden-menu-ul li{
	text-align: right;
	line-height: 70px;
	margin-left: 70%;

}
.hidden-menu-ul li a{
	
	color: white;
	text-decoration: none;
	font-weight: bold;
	font-size: 300%;
	transition: 1.5s;

}
.hidden-menu-ul li a:hover{
	box-shadow: inset -7em 0 #b51c26;

}


.hidden-menu-ticker {
  display: none;
}
.btn-menu {
  color: white;
  background-color: #b51c26;
  padding: 5px;
  position: fixed;
  top: 6.2vw;
  right:3vw;
  cursor: pointer;
  transition: right .23s;
  z-index: 300;
  width: 2vw;


  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}
.btn-menu-black-nav {
	top: 1.2vw;
}

.btn-menu span {
  display: block;
  height: 3px;
  background-color: #fff;
  margin: 22% 0 0;
  transition: all .1s linear .23s;
  position: relative;
}
.btn-menu span.first {
  margin-top: 0;
}

.hidden-menu-ticker:checked ~ .hidden-menu {
  right: 0;
}

.hidden-menu-ticker:checked ~ .btn-menu span.first {
  -webkit-transform: rotate(45deg);
  top: 10px;
}
.hidden-menu-ticker:checked ~ .btn-menu span.second {
  opacity: 0;
}
.hidden-menu-ticker:checked ~ .btn-menu span.third {
  -webkit-transform: rotate(-45deg);
  top: -10px;
}
/*preloader*/
.loaderArea {
  background: black;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  right:0;
  bottom:0;
  z-index: 100000;
}
.loader{
	background: url('../images/preloader.gif') no-repeat;
	position: absolute;
 left: 50%;
  top: 50%;
  right:0;
  bottom:0;	
  margin-left: -150px;
	margin-top: -150px;
}


/* ГЛАВНАЯ СТРАНИЦА НИЖНЯЯ ЧАСТЬ-НАПРАВЛЕНИЯ*/
.wrapper-dance-way-bg{
	 
    font-weight: 900;
    text-transform: uppercase;
    position: absolute;
    font-size:500px;
    color: #f2f2f2;
    top: 50%;
 	margin-left: 10%;
    -webkit-transform: scale(1.1) translateY(-40%);
    transform: scale(1.1) translateY(-40%);
    text-align: center;
}
.dance-ways{
	width: 40%;
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	position: relative;
    z-index: 10;
}
.dance-ways a{
	color: #ccc;
	font-weight:900;
	font-size: 20px;
	text-decoration: none;
}
.dance-ways li{
	margin: 10% 0;
}
.dance-ways a:active{
	margin-left: 1%;
	color: black;
}
.title-dance-ways{

	color: black;
	font-weight:900;
	font-size: 2vw;
	
}
.about-dance-ways{
	font-family: 'Proxima Nova Rg';
	margin: 10%;
	font-weight: bold;
	font-size: 20px;
	z-index: 10;
	position: relative;
}
.about-dance-ways p,span{
	font-weight: normal;
}
.about-dance-ways img{
	width: 20%;
	
}
.about-dance-ways span{
	display: inline-block;
	width: 19%;
	
}
div.add-block-about{
	display: block;
}
.add-block-about{
	display: block;
}
.dance-ways a.active {
	font-weight: bold;
	color: black;
	padding-left:2%;
	box-shadow: -2em 0 0 -10px #b51c26; 
}
.about-SCULPTING{
	display: none;
}
.about-SCULPTING-RECOVERY{
	display: none;
}
.about-RECOVERY{
	display: none;
}
.filters{
	display: flex;
	justify-content: space-between;
	
}
.filters button{
	font-family: 'Proxima Nova Bl';
	letter-spacing: 3px;
	margin:1% 1%; 
	width: 50%;
	height: 3vw;
	background-color: black;
	color: white;
	border: 2px solid grey;
}
.to-top {
		display: none;
		padding: 15px;
		position: fixed;
		right: 30px;
		bottom: 30px;
		border-radius: 15px;
		background: #fff;
		border: 1px gray solid;
		color: #000;
		text-decoration: none;
		opacity: .7;
	}

	.to-top:hover {
		background: white;
		opacity: 1;
	}/*падающие меню*/
.topmenu:after {
  content: "";
  display: table;
  clear: both;
}
.topmenu > li {
  width: 25%;
  float: left;
  position: relative;
  font-family: 'Open Sans', sans-serif;
}
.topmenu > li > a {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: white;
  padding: 15px 30px;
}
.topmenu li a:hover { color: #D5B45B; }
.submenu-link:after {
  content: "\f107";
  font-family: "FontAwesome";
  color: inherit;
  margin-left: 10px;
}
.submenu {
  background: #b51c26;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 5;
  width: 180px;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: 0 0;
  transition: .5s ease-in-out;
}
.submenu a {
  color: white;
  text-align: left;
  padding: 12px 15px;
  font-size: 13px;
  border-bottom: 1px solid rgba(255,255,255,.1);
}
.submenu li:last-child a { border-bottom: none; }
.topmenu > li:hover .submenu {
  opacity: 1;
  transform: scaleY(1);
}
/*table*/
.window-timetable{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.9;
	z-index:199;
}
table {
width: 100%;
padding: 10% 5%;	
padding-bottom: 5%;
background-color: black;
border-collapse: separate;
border-spacing: 5px;
-webkit-border-vertical-spacing: 20px;
color: white;
overflow: auto;
}

th {
width: 2%;
font-family: 'Proxima Nova Bl';
font-size: 100%;
padding:3% 2%;
border:1px solid #b51c26;


}
td {
font-size: 100%;
text-align: center;
width: 2%;
height: 8vh;
padding:0 1%;
background-color: #2b2828;
border: groove #2b2828 5px;
}
tbody{
	display: block;
	height:400px;
    width: 100%;
    overflow: hidden;
	overflow-y: scroll;
}
 tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

/*slider*/
/*about us*/
.about-base-logo{
	width: 13vw;
	margin:5%;
	margin-bottom: -4%;
		margin-right: 1%;
	font-family: 'Proxima Nova Bl';
}
.about-title{
	margin: 0;
    font-weight: 900;
    font-size: 2.5vw;
    color: white;
    padding-left: 5%;
    font-family: 'Proxima Nova Bl';
}
.table-about-adidas{
	font-family: 'Proxima Nova Rg';
	height: 45vh;
	color: black;
	font-size: 2vw;
	padding: 5%;

}
.table-about h3{
	font-family: 'Proxima Nova Rg';
	font-size: 2vw;
	color: black;
	text-align: center;
}
.table-about-adidas img{
	float: left;
	width: 40%;
	
}

.table-about-bron{
	font-family: 'Proxima Nova Rg';
	height: 45vh;
	color: black;
	font-size: 2vw;
	padding: 5%;
}
.table-about-bron img{
	float: right;
	width: 40%;

}
.table-about-need{
	font-family: 'Proxima Nova Rg';
	height: 45vh;
	color: black;
	font-size: 2vw;
	padding: 5%;
}
.table-about-need img{
	float: left;
	width: 40%;
}
.social{
	margin-top: 20%;
	list-style: none;

}

li ul.social li{
	display: inline-block;
	width: 20%;
	line-height: 1vw;
    margin: 0;
    color: white;

}
.social li a:hover{
	box-shadow: none;
}
.social img{
	color: grey;
	width:30%;
	height: 20%;
}
.cart{
	float: right;
	border:0;
	margin: 5%;
	margin-top: 2%;
	width: 40%;
	height: 50vh;
}
.all-contact{
	margin-top: 2%;
	float: left;
	color: black;
	width: 40%;
	margin-left: 5%; 
	font-family: 'Proxima Nova Rg';

}
.all-contact a{
	text-decoration: none;
	color: black;
}
.all-contact a:hover{
	font-weight: bold;
	color: black;
}
/*slider for index coach*/

#block-for-slider {
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
}

#viewport {
    width: 50%;
    position: relative;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    text-align: center;
}

#slidewrapper {
    position: relative;
    width: calc(100% * 4);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transition-timing-function: cubic-bezier(.67,.01,.23,1);
    -o-transition-timing-function: cubic-bezier(.67,.01,.23,1);
    transition-timing-function: cubic-bezier(.67,.01,.23,1);
}

#slidewrapper, #slidewrapper ul, #slidewrapper li {
    margin: 0;
    padding: 0;
}

.slide {
    width: calc(100%/4);
    list-style: none;
    display: inline;
    float: left;
}

.slide-img {
    width: 100%;
}

#prev-btn, #next-btn {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    top: calc(50% - 25px);
}

#prev-btn:hover, #next-btn:hover {
    cursor: pointer;
}

#prev-btn {
    left: 20px;
}

#next-btn {
    right: 20px;
}

#nav-btns {
    position: absolute;
    width: 100%;
    bottom: 20px;
    padding: 0;
    margin: 0;
    text-align: center;
}

.slide-nav-btn {
    position: relative;
    display: inline-block;
    list-style: none;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    margin: 3px;
}

.slide-nav-btn:hover {
    cursor: pointer;
.back-name{
	font-size: 50%;
	margin : 0;
}